@model InsuranceProject.Models.EditProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="page-container">
        <div class="blank">
            <h1 class="title">Register</h1>
            <img src="@Url.Content("~/Content/Images/login.jpg")" alt="Image">
        </div>
        <p class="container-message">
            Login for content, if your dont have account, create one.
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "text-danger" })
            <div class="input-group form-group textbox-input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.ValidationMessageFor(Model => Model.LastName, "", new { @class = "text-danger" })
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address)
            @Html.ValidationMessageFor(Model => Model.Address, "", new { @class = "text-danger" })
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="fa fa-address-book"></i>
                </span>
                @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", @placeholder = "Address" })
            </div>
        </div>
        @if (Model.ecdvm != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ecdvm.Gender)
                @Html.ValidationMessageFor(Model => Model.ecdvm.Gender, "", new { @class = "text-danger" })
                <div class="input-group form-group selectbox-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.DropDownListFor(model => model.ecdvm.Gender, Model.ecdvm.GenderList, new { @class = "form-control", @id = "gender-selectbox" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ecdvm.Marital_Status)
                @Html.ValidationMessageFor(Model => Model.ecdvm.Marital_Status, "", new { @class = "text-danger" })
                <div class="input-group form-group selectbox-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.DropDownListFor(model => model.ecdvm.Marital_Status, Model.ecdvm.MarritalStatusList, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
<script>
    $(document).ready(function() {
        $(".selectbox-input-group").css({
            'width': ($(".textbox-input-group").width() + 'px')
        });
    });
</script>
