@model InsuranceProject.Models.HomeInsurancePurchaseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function addCurrentHouse() {
        $valuesValid = true;
        $homeValue = $("#HomeValue").val();
        if (!$.isNumeric($homeValue)) {
            $("#home-value-validation").text("Please, insert the value of the home in $$.");
            $valuesValid = false;
        }
        $homeArea = $("#HomeArea").val();
        if (!$.isNumeric($homeArea)) {
            $("#home-area-validation").text("Please, insert the value of the home in $$.");
            $valuesValid = false;
        }
        $type = $("#Type option:selected").val();
        if ($type === "Please, select type.") {
            $("#type-validation").text("Please, select the type.");
            $valuesValid = false;
        }
        $dateString = $("#Date").val();
        alert($dateString);
        if ($dateString == null) {
            $("#date-validation").text("Please, enter the date in format dd/MM/yyyy.");
            $valuesValid = false;
        }
        $autofire = $("#AutoFire option:selected").text();
        if ($autofire === "Please, select value.") {
            $("#autofire-validation").text("Please, select the auto-fire.");
            $valuesValid = false;
        }
        $security = $("#Security option:selected").text();
        if ($autofire === "Please, select value.") {
            $("#security-validation").text("Please, select the security.");
            $valuesValid = false;
        }
        $basement = $("#Basement option:selected").text();
        if ($basement === "Please, select value.") {
            $("#basement-validation").text("Please, select the basement.");
            $valuesValid = false;
        }
        $pool = $("#Pool option:selected").val();
        if ($pool === "Please, select value.") {
            $("#pool-validation").text("Please, select the pool.");
            $valuesValid = false;
        }
        $submitMethod = "AddMore";
        $insuranceId = $("#insurance-id").text();
        if ($valuesValid) {
            $json = "{\"hipvm\":{\"HomeValue\":\"" + $homeValue + "\",\"Type\":\"" + $type + "\", \"Date\":\"" + $dateString + "\", \"AutoFire\":\"" + $autofire + "\", \"Security\":\"" + $security + "\", \"Basement\":\"" + $basement + "\", \"Pool\":\"" + $pool + "\", \"SubmitMethod\":\"" + $submitMethod + "\", \"HomeArea\":\"" + $homeArea + "\", \"InsuranceId\":\"" + $insuranceId + "\"}}";
            $id = '@Model.InsuranceId';
            $serviceURL = '/Insurance/HomeInsurancePurchase/' + $id;
            $.ajax({
            type: "POST",
            url: $serviceURL,
            data: $json,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
            });
        }

    function successFunc(data, status) {
        $("#HomeValue").val("");
        $("#HomeArea").val("");
        $("#Type").val("");
        $("#Date").val("");
        $("#AutoFire").val("");
        $("#Security").val("");
        $("#Basement").val("");
        $("#Pool").val("");
    }

    function errorFunc() {
        alert('error');
    }
 }

    function isValidDate(s) {
        var bits = s.split('/');
        var d = new Date(bits[2] + '/' + bits[1] + '/' + bits[0]);
        return !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[0]));
    }

</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-container">
        <div class="blank">
            <h1 class="title">Purchase Home Insurance</h1>
            <img src="@Url.Content("~/Content/Images/login.jpg")" alt="Image">
        </div>
        <p class="container-message">
            Please, add a house informations for insurance number <span id="insurance-id">@Model.InsuranceId</span>
        </p>
        <div class="home-insurance-purchase-container" style="border: solid 1px; width:70%;">
            <div class="home-insurance-purchase-item" style="width:50%; margin:0 auto;">
                <div class="form-group">
                    @Html.LabelFor(model => model.HomeValue)<br />
                    @Html.ValidationMessageFor(Model => Model.HomeValue, "", new { @class = "text-danger", id = "home-value-validation" })
                    <div class="input-group form-group textbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search-dollar"></i>
                        </span>
                        @Html.TextBoxFor(Model => Model.HomeValue, new { @class = "form-control", @placeholder = "Home value" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HomeArea)<br />
                    @Html.ValidationMessageFor(Model => Model.HomeArea, "", new { @class = "text-danger", id = "home-area-validation" })
                    <div class="input-group form-group textbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search-dollar"></i>
                        </span>
                        @Html.TextBoxFor(Model => Model.HomeArea, new { @class = "form-control", @placeholder = "Home area" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type)<br />
                    @Html.ValidationMessageFor(Model => Model.Type, "", new { @class = "text-danger", id = "type-validation" })
                    <div class="input-group form-group selectbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-home"></i>
                        </span>
                        @Html.DropDownListFor(model => model.Type, Model.TypeList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Date)<br />
                    @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "text-danger", id = "date-validation" })
                    <div class="input-group form-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        @Html.TextBoxFor(Model => Model.Date, new { @class = "form-control", @placeholder = "dd/mm/yyyy" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AutoFire)<br />
                    @Html.ValidationMessageFor(Model => Model.AutoFire, "", new { @class = "text-danger", id = "autofire-validation" })
                    <div class="input-group form-group selectbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-fire"></i>
                        </span>
                        @Html.DropDownListFor(model => model.AutoFire, Model.AutoFireList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Security)<br />
                    @Html.ValidationMessageFor(Model => Model.Security, "", new { @class = "text-danger", id = "security-validation" })
                    <div class="input-group form-group selectbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user-shield"></i>
                        </span>
                        @Html.DropDownListFor(model => model.Security, Model.SecurityList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Basement)<br />
                    @Html.ValidationMessageFor(Model => Model.Basement, "", new { @class = "text-danger", id = "basement-validation" })
                    <div class="input-group form-group selectbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-person-booth"></i>
                        </span>
                        @Html.DropDownListFor(model => model.Basement, Model.BasementList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Pool)<br />
                    @Html.ValidationMessageFor(Model => Model.Pool, "", new { @class = "text-danger", id = "pool-validation" })
                    <div class="input-group form-group selectbox-input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-swimming-pool"></i>
                        </span>
                        @Html.DropDownListFor(model => model.Pool, Model.PoolList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.InsuranceId);
            <div class="button-container" style="margin-top: 25px;">
                <div class="form-group" style="display: inline-block; width:49%;">
                    <button type="button" class="btn btn-default" onclick="addCurrentHouse();" style="width:100%;">
                        Add another house
                        <i class="fa fa-arrow-circle-right fa-fw"></i>
                    </button>
                </div>
                <div class="form-group" style="display: inline-block; width:49%;">
                    <button type="submit" class="btn btn-default" style="width:100%;">
                        Finalize purchase
                        <i class="fa fa-arrow-circle-right fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $(".selectbox-input-group").css({
            'width': ($(".textbox-input-group").width() + 'px')
        });
    });
</script>
